<div class="container">
  <div id="content">
    <div id="main-content">
      <mat-tab-group (selectChange)='onSelectChange($event)'>
        <mat-tab label="{{playground.name}}">
          <div id="editForm" class="container">
            <div class="col-md-12">
              <form>
                <h2>Playground Data</h2>
                <table>
                  <tr>
                    <th>ID:</th>
                    <th><input style="border-radius: 7px;" type="text" disabled name="id" value={{playground.id}} /></th>
                  </tr>
                  <tr>
                    <th>Name:</th>
                    <th><input style="border-radius: 7px;" type="text" name="name" value={{playground.name}} /></th>
                  </tr>
                  <tr>
                    <th>Description:</th>
                    <th><input style="border-radius: 7px;" type="text" name="description" value={{playground.description}} /></th>
                  </tr>
                  <tr>
                    <th>Address:</th>
                    <th><input style="border-radius: 7px;" type="text" name="address" value={{playground.address}} /></th>
                  </tr>
                  <tr>
                    <th>Locality:</th>
                    <th><input style="border-radius: 7px;" type="text" name="locality" value={{playground.locality}} /></th>
                  </tr>
                  <tr>
                    <th>State:</th>
                    <th><input style="border-radius: 7px;" type="text" name="state" value={{playground.state}} /></th>
                  </tr>
                  <tr>
                    <th>Country:</th>
                    <th><input style="border-radius: 7px;" type="text" name="country" value={{playground.country}} /></th>
                  </tr>
                  <br>
                  <br>
                </table>
              </form>
              <button style="margin-right: 10px;" type="button" class="btn btn-primary" (click)="editPlayground();">Submit</button>
              <button type="button" class="btn btn-warning" routerLink="/playgrounds">Cancel</button>
            </div>
          </div>

        </mat-tab>
        <mat-tab label="Equipments">
          <div class="container">
            <div class="row">
              <div class="col-md-4" *ngFor="let equipment of finalEquipments; let i = index" [attr.data-index]="i">
                <div class="container">
                  <div class="card">
										<div><mat-icon svgIcon="thumbs-up"></mat-icon> X {{equipment.equipLength}}</div>
                    <div class="card-body">
                      <div class="pull-right">
                        <button class="btn btn-success table-top-button" (click)="addEquipmentToPark(equipment.id)">
                          <i class="fa fa-plus"></i>
                        </button>
                        <button class="btn btn-danger" (click)="deleteEquipmentFromPark(equipment.id)">
                          <i class="fa fa-minus"></i>
                        </button>
                      </div>
                      <br><br>
											<h4 class="card-title">{{equipment.code}}</h4>
                      <p class="card text-center">{{equipment.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Inspections">
          <div class="container">
            <div class="pull-right">
              <button class="btn btn-success table-top-button" (click)="addEquipmentToPark(equipment.id)">
                <i class="fa fa-plus"></i>
              </button>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="container">
                  <div class="card">
                    <div class="card-body">
											<h4 class="card-title">playground id</h4>
                      <p class="card text-center">inspection</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Incidents">
          Tab Two Content
        </mat-tab>
      </mat-tab-group>
      <button type="button" class="btn btn-primary" routerLink="/playgrounds">  &lt; Back</button>
    </div>
  </div>
</div>
