<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="table-top">Edit CheckList: {{checkList.name}}</h1>
        <br />
        <br />
        <br />
        <tr allign="center">
          <th>Nome:</th>
          <th><input style="border-radius: 7px;" type="text" name="name" value={{checkList.name}} /></th>          
        </tr>
        <br />
        <br />
    </div>

    <div class="col-md-12 table-responsive" (window:resize)="onResize($event)">
      <table class="table table-bordered table-striped table-hover">

        <td></td>
        <thead>
          <tr>
            <th class="text-left">Question nr</th>
            <th class="text-left">Question</th>
          </tr>
        </thead>
        <tbody>
          <tr class="check-list" *ngFor="let question of checkList.questionList; let i = index" [attr.data-index]="i">
            <td class="check-list"><span>{{question.id}}</span></td>
            <td *ngIf="editQuestions==false">{{question.question}}</td>
            <td *ngIf="editQuestions==true"><input size="60" value="{{question.question}}"></td>
            <td>
              <button class="btn btn-info" (click)="editCheckListQuestions()">             
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-danger">
                <i class="fa fa-minus"></i>
              </button>
            </td>
          </tr>

          <br><br/>
          <br><br/>

          <tr>
            <th class="text-left">New Question</th>
            <th class="text-left"><input size="60"  value=""></th>
            <th class="text-left"><button class="btn btn-success table-top-button"><i class="fa fa-plus"></i></button>
            </th>
          </tr>  
          
          <br><br/>
          <br><br/>
          <button style="margin-right: 10px;" type="button" class="btn btn-primary" >Submit</button> 
        </tbody>

      </table>
    </div>
  </div>
</div>
