<div class="container">
	<div class="row">
		<div class="col-md-4" *ngFor="let checkList of checkLists;  let i = index" [attr.data-index]="i">
			<div class="container" id="">
			  <div class="card">
			    <div class="card-body">
				  <div class="pull-right">
					  <button class="btn btn-info" [routerLink]="['check-list-unit', checkList.id]">
						<i class="fa fa-edit"></i>
					  </button>
					  <button class="btn btn-danger">
						<i class="fa fa-minus"></i>
					  </button>
				  </div>
				  <br>	
			      <h4 class="card-title">Check List {{checkList.id}}</h4>
					<p class="card text-center" input id="nome">{{i+1}}</p>				  
			      <p class="card text-center" input id="nome">{{checkList.nome}}</p>
			      <li class="check-list" *ngFor="let question of checkList.questionList; let i = index" [attr.data-index]="i">
					<a class="check-list">
					<span>Question {{i+1}}</span> {{question}}			
					</a>
			      </li>					  
			    </div>				
			  </div>
			</div>
			<br><br>
		</div>

	</div>
</div>	

