<div id="editForm" class="container">
	<div class="col-md-12">
		<form>
			<h2>Edit Playground Information</h2>
			<table>
				<tr>
					<th>ID:</th>
					<th><input style="border-radius: 7px;" type="text" name="id" value={{playground.id}} disabled/></th>
				</tr>
				<tr>
					<th>Name:</th>
					<th><input style="border-radius: 7px;" type="text" name="name" value={{playground.name}} /></th>
				</tr>
				<tr>
					<th>Description:</th>
					<th><input style="border-radius: 7px;" type="text" name="description" value={{playground.description}}/></th>
				</tr>
				<tr>
					<th>Address:</th>
					<th><input style="border-radius: 7px;" type="text" name="address" value={{playground.address}}/></th>
				</tr>
				<tr>
					<th>Locality:</th>
					<th><input style="border-radius: 7px;" type="text" name="locality" value={{playground.locality}}/></th>
				</tr>
				<tr>
					<th>State:</th>
					<th><input style="border-radius: 7px;" type="text" name="state" value={{playground.state}}/></th>
				</tr>
				<tr>
					<th>Country:</th>
					<th><input style="border-radius: 7px;" type="text" name="country" value={{playground.country}}/></th>
				</tr>
				<br>
				<tr>
					<button style="margin-right: 10px;" type="button" class="btn btn-primary" (click)="editPlayground();">Submit</button>
					<button type="button" class="btn btn-warning" routerLink="/playgrounds">Cancel</button>
				</tr>
				<br>
			</table>
		</form>
	</div>
</div>		
	