<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="table-top">{{home}}</h1>
			<button class="btn btn-success table-top-button"
				[routerLink]="['add-playground']">
				<i class="fa fa-plus"></i>
			</button>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12 table-responsive" [hidden]="!visible" (window:resize)="onResize($event)">	
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th class="text-center">ID</th>
					<th class="text-center">Name</th>
					<th class="text-center">Description</th>
					<th class="text-center">Address</th>
					<th class="text-center">Locality</th>
					<th class="text-center">State</th>
					<th class="text-center">Country</th>
					<th class="text-center">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let playground of playgrounds; let i = index" [attr.data-index]="i">
					<td>{{i+1}}</td>
					<td class="detail" [routerLink]="['playground-detail', playground.id]">{{playground.name}}</td>
					<td>{{playground.description}}</td>
					<td>{{playground.address}}</td>
					<td>{{playground.locality}}</td>
					<td>{{playground.state}}</td>
					<td>{{playground.country}}</td>
					<td>
						<button class="btn btn-info" [routerLink]="['playground-detail', playground.id]">
							<i class="fa fa-edit"></i>
						</button>
						<button class="btn btn-danger" (click)="deletePlayground(playground.id)">
							<i class="fa fa-minus"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="container" *ngFor="let playground of playgrounds; let i = index" [attr.data-index]="i" [hidden]="visible" (window:resize)="onResize($event)">
		  <div class="card">
		    <div class="card-body">
			  <div class="pull-right">
				  <button class="btn btn-info" [routerLink]="['playground-detail', playground.id]">
					<i class="fa fa-edit"></i>
				  </button>
				  <button class="btn btn-danger" (click)="deletePlayground(playground.id)">
					<i class="fa fa-minus"></i>
				  </button>
			  </div>
			  <br><br>
		      <h4 class="card-title">{{playground.name}}</h4>		      
		      <p class="card text-center">{{playground.description}}</p>
		      <p class="card text-center">{{playground.address}}</p>
		      <p class="card text-center">{{playground.locality}}</p>
		      <p class="card text-center">{{playground.state}}</p>
		      <p class="card text-center">{{playground.country}}</p>
		    </div>
		  </div>
		</div>
	</div>
</div>	