<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="table-top">{{home}}</h1>
			<button class="btn btn-success table-top-button"
				(click)="showAddPlaygroundForm()">
				<i class="fa fa-plus"></i>
			</button>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12 table-responsive">	
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th class="text-center">ID</th>
					<th class="text-center">Name</th>
					<th class="text-center">Description</th>
					<th class="text-center">Address</th>
					<th class="text-center">Locality</th>
					<th class="text-center">State</th>
					<th class="text-center">Country</th>
					<th class="text-center">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let playground of playgrounds">
					<td>{{playground.id}}</td>
					<td>{{playground.name}}</td>
					<td>{{playground.description}}</td>
					<td>{{playground.address}}</td>
					<td>{{playground.locality}}</td>
					<td>{{playground.state}}</td>
					<td>{{playground.country}}</td>
					<td>
						<button class="btn btn-info" [routerLink]="['editar-playground', playground.id]">
							<i class="fa fa-edit"></i>
						</button>
						<button class="btn btn-danger" (click)="deletePlayground(playground.id)">
							<i class="fa fa-minus"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>	