<div id="editForm" class="container">
	<div class="col-md-12">
		<form>
			<h2>Add Equipment Information</h2>
			<table>
				<tr>
					<th>ID:</th>
					<th><input style="border-radius: 7px;" type="text" name="id" value="" /></th>
				</tr>
				<tr>
					<th>Code:</th>

					<th><input style="border-radius: 7px;" type="text" name="code" value="" /></th>
				</tr>
				<tr>
					<th>Description:</th>
					<th><input style="border-radius: 7px;" type="text" name="description" value="" /></th>
				</tr>
				<tr>
					<th>SelfManufactured:</th>
					<th><input style="border-radius: 7px;" type="checkbox" name="selfManufactured" checked='true' /></th>
                </tr>
        		<tr>
					<button style="margin-right: 10px;" type="button" class="btn btn-primary" (click)="addEquipment();">Submit</button> 
					<button type="button" class="btn btn-warning" routerLink="/equipment">Cancel</button>
				</tr>
				<br>
			</table>
		</form>
	</div>
</div>		
	