<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="table-top">Equipments</h1>
			<button class="btn btn-success table-top-button"
				[routerLink]="['add-equipment']">				
				<i class="fa fa-plus"></i>
			</button>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-12 table-responsive" [hidden]="!visible" (window:resize)="onResize($event)">	
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th class="text-center">ID</th>
					<th class="text-center">Code</th>
					<th class="text-center">Description</th>
					<th class="text-center">SelfManufactured</th>
					<th class="text-center">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let equipment of equipments; let i = index" [attr.data-index]="i">
					<td>{{equipment.id}}</td>
					<td>{{equipment.code}}</td>
					<td>{{equipment.description}}</td>
					<td>{{equipment.selfManufactured}}</td>
					<td>
					<button class="btn btn-info" [routerLink]="['edit-equipment', equipment.id]">
						<i class="fa fa-edit"></i>
				  </button>
						<button class="btn btn-danger" (click)="deleteEquipment(equipment.id)">
							<i class="fa fa-minus"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div class="container" *ngFor="let equipment of equipments; let i = index" [attr.data-index]="i" [hidden]="visible" (window:resize)="onResize($event)">
		  <div class="card">
		    <div class="card-body">
			  <div class="pull-right">
				  <button class="btn btn-info" [routerLink]="['edit-equipment', equipment.id]">
					<i class="fa fa-edit"></i>
				  </button>
				  <button class="btn btn-danger" (click)="deleteEquipment(equipment.id)">
					<i class="fa fa-minus"></i>
				  </button>
			  </div>
			  <br><br>
		      <h4 class="card-title">{{equipment.id}}</h4>		      
		      <p class="card text-center">{{equipment.code}}</p>
		      <p class="card text-center">{{equipment.description}}</p>
		      <p class="card text-center">{{equipment.selfManufactured}}</p>
		    </div>
		  </div>
		</div>		
	</div>
</div>	