<nav class="navbar navbar-default back-fluid" [hidden]="!visible" (window:resize)="onResize($event)">
	<div class="container-fluid">
		<ul class="ul-width">
		  <li><a routerLink="/playgrounds">Playgrounds</a></li>
		  <li><a routerLink="/equipment">Equipments</a></li>
		  <li><a routerLink="/check-list">Checklists</a></li>
		  <li class="dropdownNav">
		    <a href="javascript:void(0)" class="dropbtnNav">Others</a>
		    <div class="dropdown-content-nav">
		      <a routerLink="/login">Login</a>
		      <a href="#">Link 2</a>
		      <a href="#">Link 3</a>
		    </div>
		  </li>
		  <li class="pointer"><a (click)="logOut()">Log Out</a></li>
		</ul> 
	</div>
</nav>
<div class="navbar-header nav-mobile" [hidden]="visible" (window:resize)="onResize($event)">
	<a routerLink="/playgrounds"><img alt="plays" class="play-nav" src="../assets/images/play.jpg"></a>
	<span class="nav-title">PLAYGROUNDS</span>
	<span class="pointer-2" (click)="openNav()">&#9776;</span>
</div>

<div id="mySidenav" class="sidenav" [hidden]="visible" (window:resize)="onResize($event)">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="/playgrounds" (click)="closeNav()">Playgrounds</a>
  <a routerLink="/equipment" (click)="closeNav()">Equipments</a>
  <a routerLink="/check-list" (click)="closeNav()">Checklists</a>
  <a (click)="logOut()">Log Out</a>
</div>


<br><br><br><br>