<nav class="navbar navbar-default back-fluid">
	<div class="container-fluid">
		<ul>
		  <li><a class="active" href="./index.html">{{home}}</a></li>
		  <li><a routerLink="/equipment">Equipments</a></li>
		  <li><a>Checklists</a></li>
		  <li class="dropdownNav">
		    <a href="javascript:void(0)" class="dropbtnNav">Others</a>
		    <div class="dropdown-content-nav">
		      <a href="#">Link 1</a>
		      <a href="#">Link 2</a>
		      <a href="#">Link 3</a>
		    </div>
		  </li>
		</ul> 
	</div>
</nav>
